body {
    background-color: rgb(228, 252, 255);
    font-family: "Calibri";
}
.loginbox_asthetic {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(82, 167, 213);
    border-radius: 5px;
    background-color: rgb(187, 245, 252);

    width: 450px;
    height: 320px;

    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loginbox_asthetic input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(82, 167, 213);
    border-radius: 5px;
    background-color: rgb(228, 252, 255);
    width: 120px;
    height: 25px;

}
.loginbox_asthetic label {
    font-size: 16px;
}
.loginbox_asthetic h1 {
    font-size: 35px;
}
.loginbox_asthetic img {
    width: 30px;
    display: inline;
}
.title_thing {
    display: inline-block;
}



#submit {
    height: 30px;
    width: 65px;
}

footer {
    margin: 0;
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(82, 213, 180);
    border-radius: 5px;
    background-color: rgb(163, 237, 218);
    width: 60px;
    height: 30px;
}
button:hover {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(78, 216, 182);
    border-radius: 5px;
    background-color: rgb(109, 232, 201);
    width: 60px;
    height: 30px;
}